version: "3.8"

services:
  airflow:
    image: apache/airflow:2.8.1-python3.11
    container_name: airflow
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./:/opt/airflow/project
    ports:
      - "8080:8080"
    command: standalone